@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

section[id] {
  scroll-margin-top: 88px;
}

@theme{
 --font-heading: "Playfair", serif;
 --font-body: "Manrope", sans-serif;
}